<!doctype html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144201944-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-144201944-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Encyclopedia of Organ Stops - Index</title>
    <style>
        html {
            height: 100%;
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            position: relative;
            margin: 0;
            min-height: 100%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="alert alert-primary mt-3" role="alert">
            Welcome to the new Encyclopedia of Organ Stops website! Don't worry, you can still view the complete old site <a href="old/index.html">here</a>. We are busy converting the site to this new system one page at a time, but we need your help. See how you can help speed up that process <a href="#">here</a>. Thanks for using the encyclopedia!
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <h1 class="display-3">Encyclopedia Of Organ Stops</h1>
                <h3 class="text-muted font-weight-light">the definitive guide to every drawknob and stoptab in the world
                </h3>
            </div>
        </div>
        <div class="row mt-4">
            {% for row in names | batch(((names|length)/4)|round(method='ceil')) %}
            <div class="col-md-3 col-12">
                {% for name in row %}
                <a href="./{{getLetter(name.link)}}/{{getNameURL(name.link)}}.html"
                    {% if name['exists'] == false %}class="text-muted" {%endif %}>{{name.name}}</a>
                <br>
                {% if loop.index < (row|length) and getLetter(row[loop.index-1].name) != getLetter(row[loop.index].name) %}
                <br>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="pb-2" style="position: absolute; right: 0;bottom: -3rem;left: 0; text-align: center;">
        Original site compiled by Edward L. Stauff. For educational use only.
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>