/* cascading style sheet for an organ file */

/* normal paragraphs (descriptions, etc.) */
P	{ text-indent: 1em }

/* for quotations of 2 lines or more */
/* BLOCKQUOTE	{ margin-left: 2em; margin-right: 2em } */

P.NotDone	{ margin-left: 15%; margin-right: 15%; font-weight: bold; 
				border: solid; text-indent: 0; text-align: center }

TD.pitch	{ margin-left: 0; padding-left: 0.5em; border-style: solid; border-width:1; border-color:lightgray;
				margin-right: 0; padding-right: 0.5em; text-align: right }
TD.stop		{ margin-left: 0; padding-left: 0.5em; border-style: solid; border-width:1; border-color:lightgray;
				margin-right: 0; padding-right: 0.5em }
TD.clip		{ margin-left: 0; padding-left: 0.5em; border-style: solid; border-width:1; border-color:lightgray;
				margin-right: 0; padding-right: 0.5em }
TD.spec		{ margin-left: 0; padding-left: 0.5em; border-style: solid; border-width:1; border-color:lightgray;
				margin-right: 0; padding-right: 0.5em }

/* for sponsor images */
A.Sponsor { color: white }  /* KLUDGE: prevent link border from showing */
IMG.Sponsor { border-width: 0; border-style: none; border: 0 }
P.Sponsor { text-indent: 0 }
